.shareBtn {
    cursor: pointer;
}

.content {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.shareBtns{
    display: flex;
    align-items: center;
    gap: 10px;
}
.copyTextBox {
    width: 100%;
    padding: 11px 16px;
    position: relative;
    text-align: left;
    background-color: #f1f1f5;
    border-radius: 8px;
    transition: background-color .3s ease 0s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.copyTextBox:hover {
    background-color: #e8e8f0;
}